<div class="home-container">
  <div class="home-box">
    <div class="login-container">
      @if (account() !== null) {
        <div class="alert alert-success logged-message">
          @if (account(); as accountRef) {
            <span id="home-logged-message">
              Seja Bem-vindo <strong>{{ accountRef.login }}</strong
              >.
            </span>
          }
        </div>
        <div>
          <div class="button-container">
            <button class="action-button">Agendar Transferências</button>
            <button class="action-button">Ver Extrato</button>
            <button class="action-button">Ver tudo</button>
            <span style="color: chocolate">Saldo</span>
          </div>
          <div class="table-container">
            <table class="styled-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Conta de Origem</th>
                  <th>Nome</th>
                  <th>Conta de Destino</th>
                  <th>Valor</th>
                  <th>Data de Agendamento</th>
                  <th>Data de Transação</th>
                  <th>Taxa</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dado 1</td>
                  <td>Dado 2</td>
                  <td>Dado 3</td>
                  <td>Dado 3</td>
                  <td>Dado 3</td>
                  <td>Dado 3</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
                <tr>
                  <td>Dado 4</td>
                  <td>Dado 5</td>
                  <td>Dado 6</td>
                  <td>Dado 6</td>
                  <td>Dado 6</td>
                  <td>Dado 6</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
                <tr>
                  <td>Dado 7</td>
                  <td>Dado 8</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
                <tr>
                  <td>Dado 7</td>
                  <td>Dado 8</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
                <tr>
                  <td>Dado 7</td>
                  <td>Dado 8</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
                <tr>
                  <td>Dado 7</td>
                  <td>Dado 8</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                  <td>Dado 9</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      } @else {
        <h1 class="welcome-message">Bem-vindo à <span class="brand">Wayon</span>, seu banco digital!</h1>
        <div class="alert alert-warning">
          <span>Para entrar clique </span>
          <a class="alert-link" (click)="login()">aqui</a>.
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">Não possui uma conta ainda? Podemos te ajudar.</span>
          <a class="alert-link" routerLink="/account/register"> Crie uma conta conosco</a>.
        </div>
      }
    </div>
  </div>
</div>
